footer {
  width: 100vw;
  text-align: center;
  padding: 30px 20px 20px;
  color: var(--text-ink);
  background: linear-gradient(180deg, var(--bg), #e6e5e9 );
}


footer .socials a {
  color: var(--text-ink);
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
}