footer {
  width: 100%;
  text-align: center;
  padding: 30px 20px 20px;
  color: var(--text-ink);
  background: linear-gradient(180deg, var(--color-light), var(--color-dark));
}


footer .socials a {
  color: var(--text-ink);
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
}







