.hero {
  text-align: center;
  /* padding: 80px 20px;
  background: linear-gradient(135deg, #e4e0ff, #d6f1ff); */
  background: url("../img/hero2.png") no-repeat center/cover;
  position: relative;
  padding: 100px 20px;
  height: 100vh;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  margin: 15px 0;
  font-size: 1.2rem;
}