.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 12px;
  background: linear-gradient(90deg, #7c5cff, #5f9dff);
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: auto;
}

